<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-7 mrgnbtm">
      <h2>Create Transcation</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Date</label>
            <input type="text" class="form-control" formControlName="date" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="date">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Descripton</label>
            <input type="text" class="form-control" formControlName="description" id="exampleInputPassword1" placeholder="description">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="exampleInputEmail1">Amount</label>
            <input type="text" class="form-control" formControlName="amount" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="amount">
          </div>
        </div>
        <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger">Create</button>
      </form>
    </div>
    <div class="col-md-4 mrgnbtm">
      <app-display-board
       [userCount]="userCount"
       [Balance] = "balance"
       (getUsersEvent)="getAllUsers()"
      >
      </app-display-board>
    </div>
  </div>
</div>
<div class="mrgnbtm">
  <app-users *ngIf="users.length !== 0" [users]="users"></app-users>
</div>
