<div class="container">
  <h2>Transcations</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <tr>ID</tr>
        <th>Date</th>
        <th>Description</th>
        <th>Status</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transcation of users; let i = index">
        <td>{{i + 1}}</td>
        <td>{{transcation.date}}</td>
        <td>{{transcation.description}}</td>
        <td>{{transcation.status}}</td>
        <td>{{transcation.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>
